<%= form_for @micropost, html: { mutipart: true } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.label :category, "Select Category" %>
	 <%= f.select :category, Category.all.map(&:name) %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose new micropost" %>
	</div>
		<%= f.fields_for :pictures, @micropost.pictures.build do |f_picture| %>
	
		<div class="field">
			<%= f_picture.label :picture %>
		
			<%= f_picture.file_field :picture, multiple: true, name: 'pictures[picture][]', class:'form-control' %>
		</div>
		<% end %>

	<%= f.submit "Post", class: 'btn btn-primary' %>
<% end %>

